/* Write your code here. */
.emoji-cards {
  list-style-type: none;
}

@media (min-width: 768px) {
  .emojibtn {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    border-radius: 15px;
    border-style: none;
  }

  .emojiImage {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .emojibtn {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    margin-bottom: 5px;
    border-radius: 15px;
    border-style: none;
  }

  .emojiImage {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 575px) {
  .emojibtn {
    background-color: aqua;
    border-radius: 15px;
    border-style: none;
    width: 90px;
    height: 90px;
  }
  .emojiImage {
    height: 40px;
    width: 40px;
  }
}
