/* Write your code here. */
.emoji-cards {
  list-style-type: none;
}

@media (min-width: 768px) {
  .emojibtn {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    border-radius: 15px;
    border-style: none;
  }

  .emojiImage {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 767px) {
  .emojibtn {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
    border-radius: 15px;
    border-style: none;
  }

  .emojiImage {
    height: 55px;
    width: 55px;
  }
}
