/* Write your code here.  */
@media (min-width: 768px) {
  .bg-emoji-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
  }
  .cards-Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 900px;
  }
}

@media (max-width: 767px) {
  .bg-emoji-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
  }
  .cards-Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 700px;
  }
}
