/* Write your code here.  */
@media (min-width: 768px) {
  .bg-emoji-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
  }
  .cards-Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-self: center;
    justify-content: center;
    max-width: 900px;
  }
}

@media (max-width: 767px) {
  .bg-emoji-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
  }
  .cards-Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-self: center;
    justify-content: center;
    max-width: 700px;
  }
}
