/* Write your code here. */
.loseCardNav {
  display: flex;
  align-items: center;
  background-color: aqua;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding-left: 3%;
  width: 100vw;
}

.resultCard {
  background-color: blueviolet;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.heading {
  font-size: 25px;
}

button {
  background-color: yellow;
  width: 100px;
  padding: 10px;
  font-weight: 600;
}
