/* Write your code here. */
.navBar-container {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 60px;
  width: 100vw;
}

.logo-Name {
  display: flex;
  align-items: center;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}
