/* Write your code here. */
.navBar-container {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 60px;
  width: 100vw;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

.logo-Name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 768px) {
  .emojiGameHeader {
    font-size: 25px;
  }
  p {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .emojiGameHeader {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
}
